<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
     <ui:composition template="/WEB-INF/template.xhtml">
         <ui:define name="conteudo">
             <h:panelGrid columns="8" rendered="#{fabricanteControle.layoutList}">
                 <h:form>
                     
                     <p:dataTable value="#{fabricanteControle.listaFab}"
                                  var="fabricante">
                        <p:column headerText="ID">
                            <h:outputText value="#{fabricante.id}"/>
                        </p:column>

                        <p:column headerText="Nome Fantasia">
                            <h:outputText value="#{fabricante.nomeFantasia}"/>
                        </p:column>

                        <p:column headerText="Razão Social">
                            <h:outputText value="#{fabricante.razaoSocial}"/>
                        </p:column>

                        <p:column headerText="CNPJ">
                            <h:outputText value="#{fabricante.cnpj}"/>
                        </p:column>
                         
                         <p:column headerText="Inscrição Estadual" >
                            <h:outputText value="#{fabricante.inscricaoEstadual}"/>
                        </p:column>
                         
                         <p:column headerText="Telefone">
                            <h:outputText value="#{fabricante.fone}"/>
                        </p:column>
                         
                         <p:column headerText="Rua">
                            <h:outputText value="#{fabricante.rua}"/>
                        </p:column>

                         <p:column headerText="Cidade">
                            <h:outputText value="#{fabricante.cidade}"/>
                        </p:column>

                         <p:column headerText="Estado">
                            <h:outputText value="#{fabricante.estado}"/>
                        </p:column>
                         <p:column headerText="CEP" >
                            <h:outputText value="#{fabricante.cep}"/>
                        </p:column>
                         <p:column headerText="Bairro">
                            <h:outputText value="#{fabricante.bairro}"/>
                        </p:column>

                         
                         <p:column headerText="Opções">
                             <p:commandButton value="Alterar" action="#{fabricanteControle.setFabricante(fabricante)}" ajax="false"></p:commandButton>
                             <p:commandButton value="Excluir" action="#{fabricanteControle.excluir(fabricante)}" ajax="false"></p:commandButton>
                        </p:column>
                     </p:dataTable>
                     <br />
                     <p:commandButton value="Novo" action="#{fabricanteControle.novo()}" ajax="false"></p:commandButton>
                 </h:form>
            </h:panelGrid>
            <ui:include src="form.xhtml"/>
         </ui:define>
         
     </ui:composition>
    
</html>
