<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGroup rendered="#{fornecedorControle.layoutForm}">
        <h:form>
            <p:panel header="Cadastro de fornecedor">
                <h:panelGrid id="painel" columns="2">
                    <p:outputLabel value="CNPJ:" for="cnpj"/>
                    <p:inputMask id="cnpj" mask="99.999.999/9999-99"
                                 value="#{fornecedorControle.cnpjConsulta}"
                                 required="true"
                                 requiredMessage="O CNPJ é obrigatório">

                        <f:ajax event="blur" listener="#{fornecedorControle.consultaCnpj()}"
                                render="painel"/>
                    </p:inputMask>

                    <p:outputLabel value="IE:" for="ie"/>
                    <p:inputText id="ie"
                                 value="#{fornecedorControle.entidade.pessoaJuridica.ie}"/>

                    <p:outputLabel value="Nome:" for="nome"/>
                    <p:inputText id="nome"
                                 value="#{fornecedorControle.entidade.pessoaJuridica.nome}"/>

                    <p:outputLabel value="Fone:" for="fone"/>
                    <p:inputText id="fone"
                                 value="#{fornecedorControle.entidade.pessoaJuridica.fone}"/>

                    <p:outputLabel value="Endereço:" for="end"/>
                    <p:inputText id="end"
                                 value="#{fornecedorControle.entidade.pessoaJuridica.endereco}"/>


                    <p:outputLabel value="Contato:" for="contato"/>
                    <p:inputText id="contato"
                                 value="#{fornecedorControle.entidade.contato}"/>

                    <p:outputLabel value="Observação:" for="obs"/>
                    <p:inputText id="obs"
                                 value="#{fornecedorControle.entidade.obs}"/>

                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{fornecedorControle.salvar()}"
                                     ajax="false"/>
                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>
            </p:panel>
        </h:form>
    </h:panelGroup>
</html>
