<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">

            <h:panelGroup rendered="#{produtoControle.layoutList}">
                <h:form>
                    <p:dataTable value="#{produtoControle.listar}"
                                 var="item"
                                 paginator="true" rows="10"
                                 paginatorPosition="bottom"
                                 emptyMessage="Produtos não encontrados"
                                 selectionMode="single"
                                 selection="#{produtoControle.entidade}"
                                 rowKey="#{item.id}">
                        
                        <f:facet name="header">
                            <h:outputText value="PRODUTOS"/>
                        </f:facet>
                        
                        <p:column headerText="ID">
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column headerText="Nome">
                            <h:outputText value="#{item.nome}"/>
                        </p:column>
                        <p:column headerText="Código">
                            <h:outputText value="#{item.codigo}"/>
                        </p:column>
                        <p:column headerText="Preço">
                            <h:outputText value="#{item.precoVenda}"/>
                        </p:column>
                        <p:column headerText="Estoque">
                            <h:outputText value="#{item.estoque}"/>
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton value="Novo"
                                             actionListener="#{produtoControle.novo()}"
                                             ajax="false"/>
                            <p:commandButton value="Alterar"
                                             actionListener="#{produtoControle.alterar()}"
                                             ajax="false"/>
                            <p:commandButton value="Excluir"
                                             action="#{produtoControle.excluir()}"
                                             ajax="false"/>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </h:panelGroup>

            <ui:include src="form.xhtml"/>
        </ui:define>
    </ui:composition>
</html>
