<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <p:panel id="panel" header="Editar Item" style="margin-bottom:10px;" rendered="#{compradorControle.layoutForm}">
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputLabel value="Nome:"></h:outputLabel>
                <p:inputText value="#{compradorControle.comprador.nome}"></p:inputText>
                
                <h:outputLabel value="CPF:"></h:outputLabel>
                <p:inputMask mask="999.999.999-99" value="#{compradorControle.comprador.cpf}"></p:inputMask>
                
                <h:outputLabel value="RG:"></h:outputLabel>
                <p:inputMask mask="99.999.999-9" value="#{compradorControle.comprador.rg}"></p:inputMask>
                
                <h:outputLabel value="CEP:"></h:outputLabel>
                <p:inputMask mask="99999-999" value="#{compradorControle.comprador.cep}"></p:inputMask>
                
                <h:outputLabel value="Ativo:"></h:outputLabel>
                <p:selectBooleanCheckbox value="#{compradorControle.comprador.ativo}"/>
                
                <p:commandButton value="Salvar" action="#{compradorControle.salvar()}" ajax="false"></p:commandButton>
            </h:panelGrid>
        </h:form>
    </p:panel>
</html>
