<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            <h:panelGrid columns="8" rendered="#{compradorControle.layoutList}">
                <h:form>

                    <p:dataTable value="#{compradorControle.listaComprador}"
                                 var="comprador">
                        <p:column headerText="ID">
                            <h:outputText value="#{comprador.id}"/>
                        </p:column>

                        <p:column headerText="Nome">
                            <h:outputText value="#{comprador.nome}"/>
                        </p:column>

                        <p:column headerText="CPF">
                            <h:outputText value="#{comprador.cpf}"/>
                        </p:column>

                        <p:column headerText="RG">
                            <h:outputText value="#{comprador.rg}"/>
                        </p:column>

                        <p:column headerText="CEP">
                            <h:outputText value="#{comprador.cep}"/>
                        </p:column>

                        <p:column headerText="Ativo">
                            <h:outputText value="#{comprador.ativo ? 'Sim': 'Não'}"/>
                        </p:column>

                        <p:column>
                            <p:commandButton value="Alterar" action="#{compradorControle.setComprador(comprador)}" ajax="false"></p:commandButton>
                        </p:column>
                        <p:column>
                            <p:commandButton value="Excluir" action="#{compradorControle.excluir(comprador)}" ajax="false"></p:commandButton>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="Novo" action="#{compradorControle.novo()}" 
                                             ajax="false"/>
                        </f:facet>
                    </p:dataTable>
                    <br />


                </h:form>
            </h:panelGrid>
            <ui:include src="form.xhtml"/>
        </ui:define>

    </ui:composition>

</html>
