<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:panel id="panel" header="Editar Item" style="margin-bottom:10px;" rendered="#{veiculoControle.layoutForm}">
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputLabel for="nome" value="Nome:"></h:outputLabel>
                <p:inputText value="#{veiculoControle.veiculo.nome}"></p:inputText>
                
                <h:outputLabel for="@next" value="Preço:"></h:outputLabel>
                <p:inputText value="#{veiculoControle.veiculo.preco}">
                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                </p:inputText>
                
                <h:outputLabel for="@next" value="Estoque:"></h:outputLabel>
                <p:inputText value="#{veiculoControle.veiculo.estoque}"></p:inputText>
                
                <h:outputLabel for="@next" value="Placa:"></h:outputLabel>
                <p:inputMask value="#{veiculoControle.veiculo.placa}" mask="aaa-9999"></p:inputMask>
                
                <h:outputLabel for="@next" value="Combustível:"></h:outputLabel>
                <p:selectOneMenu id="console-combustivel" value="#{veiculoControle.veiculo.combustivel}"
                                 style="width:125px">
                    <f:selectItem itemValue="Gasolina" itemLabel="Gasolina"/>
                    <f:selectItem itemValue="Álcool" itemLabel="Álcool"/>
                </p:selectOneMenu>
                
                <h:outputLabel for="@next" value="Fabricante:"></h:outputLabel>
                <p:selectOneMenu id="console" value="#{veiculoControle.veiculo.fabricante}"
                                 converter="#{fabricanteControle.converter}"
                                 style="width:125px">
                    <f:selectItems value="#{fabricanteControle.listaFab}" var="fab" 
                                   itemLabel="#{fab.nomeFantasia}"
                                   itemValue="#{fab}"/>
                </p:selectOneMenu>


                <h:outputLabel for="@next" value="Ativo:"></h:outputLabel>
                <p:selectBooleanCheckbox value="#{veiculoControle.veiculo.ativo}"/>
                <h:outputLabel for="@next" value="Data de Fabricação:"></h:outputLabel>
                <p:calendar id="effect" value="#{veiculoControle.veiculo.fabricacao}" effect="fold" pattern="dd/MM/yyyy"/>

                <h:outputLabel for="@next" value="Cor:"></h:outputLabel>
                <p:selectOneMenu id="console-cor" value="#{veiculoControle.veiculo.cor}"
                                 converter="#{corControle.converter}"
                                 style="width:125px">
                    <f:selectItems value="#{corControle.listaCor}" var="cor" 
                                   itemLabel="#{cor.nome}"
                                   itemValue="#{cor}"/>
                </p:selectOneMenu>
                
                <p:commandButton value="Salvar" action="#{veiculoControle.salvar()}" ajax="false"></p:commandButton>
            </h:panelGrid>
        </h:form>
    </p:panel>
</html>
