<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup rendered="#{corControle.layoutForm}">

        <h:form>
            Nome:
            <p:inputText value="#{corControle.cor.nome}"/>
            <br/>
            Preço:
            <p:inputText value="#{corControle.cor.preco}">
                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
            </p:inputText>
            <br/>
            Ativo:
            <p:selectBooleanCheckbox value="#{corControle.cor.ativo}"/>
            <br/>
            
            <p:commandButton value="Savar" action="#{corControle.salvar()}" ajax="false"/>

        </h:form>

    </h:panelGroup>

</html>
