<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">

            <h:panelGroup rendered="#{corControle.layoutList}">
                <h:form>
                    <p:dataTable value="#{corControle.listaCor}" 
                                 var="cor">
                        <p:column headerText="ID">
                            <h:outputText value="#{cor.id}"/>
                        </p:column>

                        <p:column headerText="Nome">
                            <h:outputText value="#{cor.nome}"/>
                        </p:column>

                        <p:column headerText="Preço">
                            <h:outputText value="#{cor.preco}"/>
                        </p:column>

                        <p:column headerText="Ativo">
                            <h:outputText value="#{cor.ativo?'Sim':'Não'}"/>
                        </p:column>

                        <p:column headerText="Opções">
                            <p:commandButton value="Alterar" ajax="false"
                                             action="#{corControle.carregarCor(cor)}"/>
                            
                            <p:commandButton value="Excluir" action="#{corControle.excluir(cor)}" 
                                             ajax="false"/>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Novo" ajax="false" action="#{corControle.novo()}"/>
                </h:form>
            </h:panelGroup>
            <ui:include src="form.xhtml"/>
        </ui:define>
    </ui:composition>


</html>
