<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGroup rendered="#{clienteControle.layoutForm}">

        <h:form id="formCliente">
            <p:panel header="Cadastro de cliente">
                <p:selectOneRadio value="#{clienteControle.tipoPessoa}">
                    <f:selectItem itemLabel="Pessoa Fisica" itemValue="PF"/>
                    <f:selectItem itemLabel="Pessoa Juridica" itemValue="PJ"/>
                    <f:ajax event="change" render="formCliente"
                            listener="#{clienteControle.selecionaPessoa()}"/>
                </p:selectOneRadio>
                <h:panelGrid id="painelGeral" columns="2">

                    <p:outputLabel value="CNPJ:" for="cnpj" rendered="#{clienteControle.tipoPessoa=='PJ'}"/>
                    <p:inputMask id="cnpj" mask="99.999.999/9999-99"
                                 value="#{clienteControle.documentoFederal}"
                                 required="true"
                                 requiredMessage="O CNPJ é obrigatório"
                                 rendered="#{clienteControle.tipoPessoa=='PJ'}">

                        <f:ajax event="blur" listener="#{clienteControle.consultaDocumentoFederal()}"
                                render="formCliente"/>
                    </p:inputMask>

                    <p:outputLabel value="IE:" for="ie" rendered="#{clienteControle.tipoPessoa=='PJ'}"/>
                    <p:inputText id="ie"
                                 value="#{clienteControle.entidade.pessoa.ie}"
                                 rendered="#{clienteControle.tipoPessoa=='PJ'}"/>


                    <p:outputLabel value="CPF" for="cpf" rendered="#{clienteControle.tipoPessoa=='PF'}"/>
                    <p:inputMask id="cpf" mask="999.999.999-99"
                                 value="#{clienteControle.documentoFederal}"
                                 required="true"
                                 requiredMessage="O CPF é obrigatório"
                                 rendered="#{clienteControle.tipoPessoa=='PF'}">
                        <f:ajax event="blur" listener="#{clienteControle.consultaDocumentoFederal()}"
                                render="formCliente"/>
                    </p:inputMask>
                    <p:outputLabel value="RG" for="rg" rendered="#{clienteControle.tipoPessoa=='PF'}"/>
                    <p:inputText id="rg" value="#{clienteControle.entidade.pessoa.rg}"
                                 rendered="#{clienteControle.tipoPessoa=='PF'}"/>





                    <p:outputLabel value="Nome:" for="nome"/>
                    <p:inputText id="nome"
                                 value="#{clienteControle.entidade.pessoa.nome}"/>

                    <p:outputLabel value="Fone:" for="fone"/>
                    <p:inputText id="fone"
                                 value="#{clienteControle.entidade.pessoa.fone}"/>

                    <p:outputLabel value="Endereço:" for="end"/>
                    <p:inputText id="end"
                                 value="#{clienteControle.entidade.pessoa.endereco}"/>


                    <p:outputLabel value="Valor de crédito:" for="cred"/>
                    <p:inputText id="cred" value="#{clienteControle.entidade.credito}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Bloqueado:" for="bloq"/>
                    <p:selectBooleanCheckbox id="bloq" value="#{clienteControle.entidade.bloqueio}"/>

                    <p:outputLabel value="Observação:" for="obs"/>
                    <p:inputText id="obs"
                                 value="#{clienteControle.entidade.obs}"/>
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{clienteControle.salvar()}"
                                     ajax="false"/>

                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>

            </p:panel>        
        </h:form>




    </h:panelGroup>
</html>
