<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            <h:panelGrid columns="8" rendered="#{contaReceberControle.layoutList}">
                <h:form>

                    <p:dataTable value="#{contaReceberControle.listContaReceber}"
                                 var="conta">
                        <p:column headerText="ID">
                            <h:outputText value="#{conta.id}"/>
                        </p:column>

                        <p:column headerText="Data de Lançamento">
                            <h:outputText value="#{conta.dataLancamento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Data de Vencimento">
                            <h:outputText value="#{conta.dataVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Data de Pagamento">
                            <h:outputText value="#{conta.dataPagamento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Valor Original">
                            <h:outputText value="#{conta.valorOriginal}"/>
                        </p:column>

                        <p:column headerText="Desconto">
                            <h:outputText value="#{conta.desconto}"/>
                        </p:column>
                        
                        <p:column headerText="Pessoa">
                            <h:outputLabel for="@next" value="#{conta.pessoa.nome}"></h:outputLabel>
                        </p:column>

                        <p:column headerText="Valor Status">
                            <h:outputText value="#{conta.status == 'A' ? 'A receber': 'Pago'}"/>
                        </p:column>

                        <p:column>
                            <p:commandButton value="Alterar" action="#{contaReceberControle.setContaReceber(conta)}" ajax="false"></p:commandButton>
                        </p:column>
                        <p:column>
                            <p:commandButton value="Excluir" action="#{contaReceberControle.excluir(conta)}" ajax="false"></p:commandButton>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="Novo" action="#{contaReceberControle.novo()}" 
                                             ajax="false"/>
                        </f:facet>
                    </p:dataTable>
                    <br />


                </h:form>
            </h:panelGrid>
            <ui:include src="form.xhtml"/>
        </ui:define>

    </ui:composition>

</html>
