<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            <h:form>
                <p:panel header="Relatório de vendas">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Cliente:" for="cliente"/>
                        <p:inputText id="cliente"
                                     value="#{relatorioVeicControle.cliente.id}"/>
                        <p:outputLabel for="dtInicio" value="Data inicio:"/>
                        <p:calendar id="dtInicio" pattern="dd/MM/yyyy" value="#{relatorioVeicControle.dataInicio}"
                                    required="true" requiredMessage="O campo data inicio é obrigatório"/>

                        <p:outputLabel for="dtFim" value="Data fim:"/>
                        <p:calendar id="dtFim" pattern="dd/MM/yyyy" value="#{relatorioVeicControle.dataFim}"
                                    required="true" requiredMessage="O campo data fim é obrigatório"/>
                    </h:panelGrid>
                    <f:facet name="footer">
                        <p:commandButton value="Gerar relatório" 
                                         action="#{relatorioVeicControle.gerarRelatorioVendas()}"
                                         ajax="false"
                                         onclick="this.form.target='_blank'"/>
                    </f:facet>
                </p:panel>

            </h:form>

        </ui:define>
    </ui:composition>        

</html>
